<div class="card" style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">id : {{ lobby?.id }}</li>
    <li class="list-group-item">sport : {{ lobby?.sport }}</li>
    <li class="list-group-item">title : {{ lobby?.title }}</li>
    <li class="list-group-item">type : {{ lobby?.type }}</li>
    <li class="list-group-item">entryFee : {{ lobby?.entryFee }}</li>
    <li class="list-group-item">prizePool: {{ lobby?.prizePool }}</li>
    <li class="list-group-item">enteredEntry : {{ lobby?.enteredEntry }}</li>
    <li class="list-group-item">maxEntry : {{ lobby?.maxEntry }}</li>
    <li class="list-group-item">regDeadline : {{ lobby?.regDeadline }}</li>
  </ul>
</div>
